<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method='post' >
        <div class="form-group">
            
            <label for="fname">First-Name</label>
          <input type="text" class="form-control" id="fname"  placeholder="Enter First-Name" name='fname'>

            
          <label for="lname">Last-Name</label>
          <input type="text" class="form-control" id="lname"  placeholder="Enter Last-Name" name='lname'>


          <label for="email">Email</label>
          <input type="email" class="form-control" id="email"  placeholder="Enter email" name='email'>

          <label for="password">Last-Name</label>
          <input type="text" class="form-control" id="password"  placeholder="Enter password" name='password'>
          
        </div>
        
        <button type="submit" class="btn btn-primary w-100" style="margin-top: 1%;">Submit</button>
      </form>

</body>
</html>